/**
 * display: flex | inline-flex; (Applies to: parent flex container element)
 *
 * This defines a flex container; inline or block depending on the given value.
 * Thus, it enables a flex context for all its direct children.
 * NOTE:
 * - CSS columns have no effect on a flex container
 * - float, clear and vertical-align have no effect on a flex item
 */
/**
 * flex-flow: <‘flex-direction’> || <‘flex-wrap’>
 *
 * This is a shorthand `flex-direction` and `flex-wrap` properties, which
 * together define the flex container's main and cross axes.
 * Default is "row nowrap";
 */
/**
 * flex-direction: row (default) | row-reverse | column | column-reverse
 *
 * This establishes the main-axis, thus defining the direction flex items are
 * placed in the flex container.
 *
 * - row (default): left to right in ltr; right to left in rtl
 * - row-reverse: right to left in ltr; left to right in rtl
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse but top to bottom
 */
/**
 * flex-wrap: nowrap (default) | wrap | wrap-reverse
 *
 * This defines whether the flex container is single-line or multi-line, and
 * the direction of the cross-axis, which determines the direction new lines
 * are stacked in.
 *
 * - nowrap (default): single-line / left to right in ltr; right to left in rtl
 * - wrap: multi-line / left to right in ltr; right to left in rtl
 * - wrap-reverse: multi-line / right to left in ltr; left to right in rtl
 */
/**
 * align-items: flex-start | flex-end | center | baseline | stretch
 *
 * This defines the default behaviour for how flex items are laid out along the
 * cross axis on the current line. Think of it as the justify-content version
 * for the cross-axis (perpendicular to the main-axis).
 *
 * - flex-start: cross-start margin edge of the items is placed on the cross-start line
 * - flex-end: cross-end margin edge of the items is placed on the cross-end line
 * - center: items are centered in the cross-axis
 * - baseline: items are aligned such as their baselines align
 * - stretch (default): stretch to fill the container (still respect min-width/max-width)
 */
/**
 * justify-content: flex-start | flex-end | center | space-between | space-around
 *
 * This defines the alignment along the main axis. It helps distribute extra free
 * space leftover when either all the flex items on a line are inflexible, or are
 * flexible but have reached their maximum size. It also exerts some control over
 * the alignment of items when they overflow the line.
 *
 * - flex-start (default): items are packed toward the start line
 * - flex-end: items are packed toward to end line
 * - center: items are centered along the line
 * - space-between: items are evenly distributed in the line; first item is on the start line, last item on the end line
 * - space-around: items are evenly distributed in the line with equal space around them
 */
/**
 * flex (Applies to: child element / flex item)
 *
 * This is the shorthand for flex-grow, flex-shrink and flex-basis. The second
 * and third parameters (flex-shrink, flex-basis) are optional.
 * Default is "0 1 auto"
 */
html, body, #viewport, .pb-editor, .pixel-row-ct {
  height: 100%; }

body {
  background: transparent url("../images/background.png");
  color: #f0f1f2;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none; }

img, canvas {
  background: transparent url("../images/editor-background.png"); }

fieldset {
  border: 1px solid #65696a;
  padding: 10px; }
  fieldset + fieldset {
    margin-top: 10px; }

legend {
  padding: 0 10px; }

label {
  display: inline-block;
  min-width: 75px;
  text-align: right; }

input {
  border: none;
  background-color: #f0f1f2;
  color: #404243;
  padding: 5px;
  line-height: 20px;
  vertical-align: middle;
  text-align: right; }

#fps {
  position: absolute;
  top: 10px;
  right: 10px; }

#viewport {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

#viewport > div {
  margin: 10px; }

.toolbar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .toolbar > div {
    margin-bottom: 10px;
    outline: 1px solid #0a0909;
    box-shadow: 0 0 10px #101213; }
  .toolbar.tools {
    width: 136px; }
  .toolbar #preview-area {
    min-width: 128px;
    min-height: 128px;
    content: "Preview coming soon..."; }

#preview-area {
  background-color: #404243;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #preview-area .preview-wrap {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
  #preview-area .buttons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around; }
    #preview-area .buttons #play-preview-animation.active {
      color: lightgreen;
      text-shadow: 0 0 20px green; }
    #preview-area .buttons #pause-preview-animation.active {
      color: red;
      text-shadow: 0 0 20px red; }

#palette {
  font-size: 0px; }
  #palette input.hidden-radio {
    display: none; }
  #palette div.visible-radio {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/editor-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    #palette div.visible-radio label {
      display: block;
      width: 100%;
      height: 100%;
      min-width: 100%; }
    #palette div.visible-radio:hover {
      cursor: pointer;
      outline: 2px solid #0af959; }
  #palette input.hidden-radio:checked + div.visible-radio {
    cursor: default;
    outline: 2px solid #fa5040; }

#sprite-list {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #sprite-list .pb-sprites {
    background: transparent url("../images/background.png");
    border: 5px solid #4c4f50;
    box-shadow: inset 0 0 10px #101112;
    overflow: auto;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #sprite-list .pb-sprites .sprite-item {
      height: 100px;
      cursor: pointer;
      position: relative;
      background: #343536;
      margin: 10px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      box-shadow: 0 0 10px #101213; }
      #sprite-list .pb-sprites .sprite-item .index {
        color: #707273;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 20px;
        pointer-events: none; }
      #sprite-list .pb-sprites .sprite-item .settings {
        color: #707273;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
        opacity: 0.1; }
        #sprite-list .pb-sprites .sprite-item .settings:hover {
          opacity: 1;
          color: #f0f1f2;
          cursor: pointer; }
      #sprite-list .pb-sprites .sprite-item canvas {
        max-width: 55px;
        max-height: 55px;
        margin: 0 auto;
        pointer-events: none; }
      #sprite-list .pb-sprites .sprite-item:hover {
        background: #1b1b1c; }
      #sprite-list .pb-sprites .sprite-item.selected {
        background: #020202;
        cursor: default; }
        #sprite-list .pb-sprites .sprite-item.selected .settings {
          opacity: 0.6; }
        #sprite-list .pb-sprites .sprite-item.selected .settings:hover {
          opacity: 1; }
  #sprite-list .buttons {
    background: #4c4f50;
    text-align: center; }
    #sprite-list .buttons button, #sprite-list .buttons .button {
      font-size: 30px;
      width: 80px; }
      #sprite-list .buttons button.delete-sprite, #sprite-list .buttons .button.delete-sprite {
        font-weight: normal; }

#editor-pane {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.pb-editor {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

.pixel-ct {
  position: relative;
  cursor: crosshair;
  box-shadow: 0 0 10px #101213; }
  .pixel-ct .pixel-bg {
    position: absolute;
    outline: 1px solid #0a0909;
    background-image: url("../images/editor-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .pixel-ct .pixel-bg .pixel {
      width: 100%;
      height: 100%; }
    .pixel-ct .pixel-bg:hover {
      z-index: 1;
      outline: 2px solid #0af959; }

#menu-ct, #window-ct {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.window-mask {
  height: 100%;
  background: rgba(10, 12, 13, 0.8);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.window-content {
  width: 80%;
  background: transparent url("../images/background.png");
  overflow: visible;
  position: relative;
  padding: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  box-shadow: 0 0 10px #101213; }
  .window-content .head {
    margin: 0 10px 0 0;
    width: 100px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: right; }
  .window-content .body {
    width: 75%;
    padding: 10px;
    background: #707273;
    position: relative;
    box-shadow: 0 0 10px #101213; }
    .window-content .body form {
      position: relative; }
    .window-content .body .buttons {
      text-align: center;
      margin-top: 10px; }
  .window-content .button.window-x {
    position: absolute;
    top: 0;
    right: -40px;
    border: 0;
    background: transparent url("../images/background.png"); }
    .window-content .button.window-x span {
      position: absolute;
      font-size: 25px;
      top: 2px;
      left: 10px; }
    .window-content .button.window-x:hover {
      text-shadow: 0 0 10px white; }

.import-form .selected-image-ct {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .import-form .selected-image-ct img {
    max-width: 400px; }
  .import-form .selected-image-ct span {
    padding: 3px; }

.export-form .result {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .export-form .result img {
    max-width: 80%;
    max-height: 80%;
    border: 1px solid;
    margin: 5px; }
  .export-form .result span {
    padding: 3px; }

.change-color-dlg .preview {
  width: 400px;
  height: 200px;
  font-size: 0px;
  margin: 0 auto; }
  .change-color-dlg .preview .color-field-bg {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url("../images/editor-background.png"); }
  .change-color-dlg .preview .color-field {
    height: 100%;
    line-height: 200px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold; }
    .change-color-dlg .preview .color-field span {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px; }
.change-color-dlg .colors {
  width: 400px;
  margin: 10px auto; }
  .change-color-dlg .colors span {
    display: inline-block;
    width: 20px;
    text-align: right;
    padding: 3px; }
  .change-color-dlg .colors input.color {
    display: inline-block;
    width: 60px;
    text-align: right; }

.context-menu-mask {
  height: 100%;
  position: relative;
  background-color: rgba(10, 12, 13, 0.8); }
  .context-menu-mask .context-menu {
    position: absolute;
    background-image: url("../images/transmutation-circle.png"), url("../images/background.png");
    background-position: center center;
    background-size: 200px;
    border-radius: 100px;
    box-shadow: 0 0 10px #101213; }
  .context-menu-mask .item {
    box-sizing: border-box;
    border: 2px solid #a0a0a0;
    position: absolute;
    background-color: #343536;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px #101213;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    .context-menu-mask .item .icon {
      font-size: 35px;
      line-height: 40px;
      vertical-align: middle;
      text-align: center;
      width: 40px;
      height: 40px; }
    .context-menu-mask .item:hover, .context-menu-mask .item.over {
      background-color: #1b1b1c;
      box-shadow: 0 0 10px 5px #0af959; }
      .context-menu-mask .item:hover .icon, .context-menu-mask .item.over .icon {
        color: white;
        text-shadow: 0 0 10px white; }
    .context-menu-mask .item.N, .context-menu-mask .item.S, .context-menu-mask .item.center {
      left: 50%;
      margin-left: -30px; }
    .context-menu-mask .item.E, .context-menu-mask .item.W, .context-menu-mask .item.center {
      top: 50%;
      margin-top: -30px; }
    .context-menu-mask .item.N {
      top: -10px; }
    .context-menu-mask .item.S {
      bottom: -10px; }
    .context-menu-mask .item.W {
      left: -10px; }
    .context-menu-mask .item.E {
      right: -10px; }
