/**
 * flex-flow: <‘flex-direction’> || <‘flex-wrap’>
 */
/**
 * flex-direction: row (default) | row-reverse | column | column-reverse
 */
/**
 * flex-wrap: nowrap (default) | wrap | wrap-reverse
 */
/**
 * align-items: flex-start | flex-end | center | baseline | stretch
 */
html, body, #viewport, .pb-editor, .pixel-row-ct {
  height: 100%; }

body {
  background: #404243;
  color: #f0f1f2;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none; }

img, canvas {
  background: transparent url("../images/editor-background.png"); }

#viewport {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

#viewport > div {
  margin: 3px; }

#sidebar {
  width: 210px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #sidebar > div {
    margin-bottom: 6px; }
  #sidebar #preview-area {
    min-width: 128px;
    min-height: 128px;
    outline: 1px solid black;
    content: "Preview coming soon..."; }
  #sidebar #sprite-list {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

#window-ct {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.window-mask {
  height: 100%;
  background: rgba(10, 12, 13, 0.8);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.window-content {
  width: 100%;
  background: #707273;
  overflow: visible;
  position: relative;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .window-content .head, .window-content .body {
    width: 80%;
    margin: 0 auto;
    padding: 10px; }
  .window-content .head {
    line-height: 30px;
    font-weight: bold;
    font-size: 20px; }
  .window-content .body {
    position: relative; }
    .window-content .body form {
      position: relative; }
    .window-content .body fieldset {
      display: inline-block;
      padding: 5px 0; }
    .window-content .body input {
      border: none;
      background-color: #B0B0B0;
      padding: 5px;
      text-align: right; }
    .window-content .body .buttons {
      text-align: right; }
  .window-content .button.window-x {
    position: absolute;
    top: -50px;
    right: 10%;
    border-radius: 20px; }
    .window-content .button.window-x span {
      position: absolute;
      font-size: 25px;
      top: 0px;
      left: 8px; }

.import-form .selected-image-ct {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .import-form .selected-image-ct img {
    max-width: 400px; }
  .import-form .selected-image-ct span {
    padding: 3px; }

.export-form .result {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .export-form .result img {
    max-width: 80%;
    max-height: 80%;
    border: 1px solid;
    margin: 5px; }
  .export-form .result span {
    padding: 3px; }

.change-color-dlg .preview {
  width: 400px;
  height: 200px;
  font-size: 0px;
  margin: 0 auto; }
  .change-color-dlg .preview .color-field-bg {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url("../images/editor-background.png"); }
  .change-color-dlg .preview .color-field {
    height: 100%;
    line-height: 200px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold; }
    .change-color-dlg .preview .color-field span {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px; }
.change-color-dlg .colors {
  width: 400px;
  margin: 10px auto; }
  .change-color-dlg .colors span {
    display: inline-block;
    width: 20px;
    text-align: right;
    padding: 3px; }
  .change-color-dlg .colors input.color {
    display: inline-block;
    width: 60px;
    text-align: right; }

#palette {
  font-size: 0px; }
  #palette input.hidden-radio {
    display: none; }
  #palette div.visible-radio {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/editor-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    #palette div.visible-radio label {
      display: block;
      width: 100%;
      height: 100%; }
    #palette div.visible-radio:hover {
      cursor: pointer;
      outline: 2px solid #0af959; }
  #palette input.hidden-radio:checked + div.visible-radio {
    cursor: default;
    outline: 2px solid #fa5040; }

#sprite-list {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #sprite-list .pb-sprites {
    background: #4c4f50;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #sprite-list .pb-sprites .sprite-item {
      width: 60px;
      height: 60px;
      cursor: pointer;
      position: relative;
      float: left;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      #sprite-list .pb-sprites .sprite-item .index {
        background: #f0f1f2;
        color: #404243;
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        font-size: 8px;
        vertical-align: middle;
        line-height: 12px;
        text-align: center;
        border-radius: 12px;
        border: 1px solid;
        pointer-events: none; }
      #sprite-list .pb-sprites .sprite-item canvas {
        max-width: 55px;
        max-height: 55px;
        margin: 0 auto;
        pointer-events: none; }
      #sprite-list .pb-sprites .sprite-item:hover {
        background-color: #0af959; }
      #sprite-list .pb-sprites .sprite-item.selected {
        cursor: default;
        background-color: #fa5040; }
  #sprite-list .buttons {
    background: #4c4f50;
    text-align: center;
    padding: 10px; }
    #sprite-list .buttons button, #sprite-list .buttons .button {
      font-size: 30px;
      width: 80px; }

#editor-pane {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.pixel-ct {
  position: relative;
  cursor: crosshair; }
  .pixel-ct .pixel-bg {
    position: absolute;
    outline: 1px solid #0a0909;
    background-image: url("../images/editor-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .pixel-ct .pixel-bg .pixel {
      width: 100%;
      height: 100%; }
    .pixel-ct .pixel-bg:hover {
      z-index: 1;
      outline: 2px solid #0af959; }
