/**
 * flex-direction: row | row-reverse | column | column-reverse
 * flex-wrap: nowrap | wrap | wrap-reverse
 * flex-flow: <‘flex-direction’> || <‘flex-wrap’>
 */
body {
  font-family: Arial;
  font-size: 12px; }

button {
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 0 15px;
  font-weight: bold;
  min-width: 40px;
  min-height: 40px;
  border: 2px solid #f0f1f2;
  color: #f0f1f2;
  background: #343536;
  cursor: pointer; }
  button:hover {
    background: #1b1b1c; }
  button:active {
    background: #020202; }

#viewport {
  height: calc(100% - 60px); }

#main-menu {
  height: 40px;
  margin: 10px;
  overflow: hidden;
  background: #404243; }
  #main-menu > * {
    margin: 0 10px 0  0; }
  #main-menu .title {
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 25px; }
