#menu-ct, #window-ct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.window-mask {
    height: 100%;
    background: $color_bg_window_mask;
    @include display-flex();
    @include align-items(center);
}

.window-content {
    width: 80%;
    background: transparent url('../images/background.png');
    overflow: visible;
    position: relative;
    padding: 10px;
    @include display-flex();
    @include justify-content(flex-end);
    @include box-shadow();

    .head, .body {
    }

    .head {
        margin: 0 10px 0 0;
        width: 100px;
        line-height: 30px;
        font-weight: bold;
        font-size: 20px;
        text-align: right;
    }

    .body {
        width: 75%;
        padding: 10px;
        background: $color_bg_window;
        position: relative;
        @include box-shadow();

        form {
            position: relative;
        }


        .buttons {
            text-align: center;
            margin-top: 10px;
        }
    }

    .button.window-x {
        position: absolute;
        top: 0;
        right: -40px;
        border: 0;
        background: transparent url('../images/background.png');

        span {
            position: absolute;
            font-size: 25px;
            top: 2px;
            left: 10px;
        }

        &:hover {
            text-shadow: 0 0 10px white;
        }
    }
}

.import-form {
    .selected-image-ct {
        @include display-flex();
        @include flex-flow(column);
        @include align-items(center);

        img {
            max-width: 400px;
        }

        span {
            padding: 3px;
        }
    }
}

.export-form {
    .result {
        @include display-flex();
        @include flex-flow(column);
        @include align-items(center);

        img {
            max-width: 80%;
            max-height: 80%;
            border: 1px solid;
            margin: 5px;
        }

        span {
            padding: 3px;
        }
    }
}

.change-color-dlg {
    .preview {
        width: 400px;
        height: 200px;
        font-size: 0px; // to get rid of the space between the items;
        margin: 0 auto;

        .color-field-bg {
            display: inline-block;
            width: 200px;
            height: 200px;
            background-image: url('../images/editor-background.png');
        }

        .color-field {
            height: 100%;
            line-height: 200px;
            font-size: 20px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;

            span {
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 5px;
            }
        }
    }

    .colors {
        width: 400px;
        margin: 10px auto;

        span {
            display: inline-block;
            width: 20px;
            text-align: right;
            padding: 3px;
        }

        input.color {
            display: inline-block;
            width: 60px;
            text-align: right;
        }
    }
}

.context-menu-mask {
    height: 100%;
    position: relative;
    background-color: $color_bg_window_mask;

    .context-menu {
        position: absolute;
        background-image: url('../images/transmutation-circle.png'), url('../images/background.png');
        background-position: center center;
        background-size: 200px;
        border-radius: 100px;
        @include box-shadow();
    }

    .item {
        $size: 60px;
        box-sizing: border-box;
        border: 2px solid #a0a0a0;
        position: absolute;
        background-color: $color_bg_botton_normal;
        width: $size;
        height: $size;
        border-radius: $size / 2;
        text-align: center;
        cursor: pointer;

        @include box-shadow();
        @include display-flex();
        @include flex-flow(column);
        @include align-items(center);
        @include justify-content(center);

        .icon {
            font-size: 35px;
            line-height: 40px;
            vertical-align: middle;
            text-align: center;
            width: 40px;
            height: 40px;
        }

        &:hover, &.over {
            background-color: $color_bg_botton_hover;
            box-shadow: 0 0 10px 5px $color_pixel_grid_hover;

            .icon {
                color: white;
                text-shadow: 0 0 10px white;
            }
        }

        &.N, &.S, &.center {
            left: 50%;
            margin-left: -$size / 2;
        }

        &.E, &.W, &.center {
            top: 50%;
            margin-top: -$size / 2;
        }

        &.N {
            top: -10px;
        }

        &.S {
            bottom: -10px;
        }

        &.W {
            left: -10px;
        }

        &.E {
            right: -10px;
        }
    }
}
