#editor-pane {
    @include flex(1);
}

.pb-editor {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
}

.pixel-ct {
    position: relative;
    cursor: crosshair;
    @include box-shadow();

    .pixel-bg {
        position: absolute;
        outline: 1px solid $color_pixel_grid_normal;
        background-image: url('../images/editor-background.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .pixel {
            width: 100%;
            height: 100%;
        }

        &:hover {
            z-index: 1;
            outline: 2px solid $color_pixel_grid_hover;
        }
    }
}

