#editor-pane {
    padding: 20px;
    background: $color_bg_light url('../images/spinner.gif') no-repeat center center;

    @include flex(1);
    @include display-flex();
    @include align-items(stretch);
    @include flex-flow(column);
    @include component-border();

    .pb-editor {
        position: relative;

        @include flex(1);
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
    }

    .pixel-ct {
        position: relative;
        cursor: crosshair;
        background: transparent url('../images/editor-background.png') repeat;

        .pixel {
            outline: 1px solid $color_pixel_grid_normal;
            position: absolute;

            &:hover {
                z-index: 1;
                outline: 2px solid $color_pixel_grid_hover;
            }
        }
    }

    .info-x, .info-y {
        position: absolute;
        bottom: 0;
        span {
            font-weight: bold;
        }
    }

    .info-x {
        right: 40px;
    }

    .info-y {
        right: 0;
    }
}
