#editor-pane {
    padding: 20px;
    background: $color_bg_light url('../images/spinner.gif') no-repeat center center;

    @include flex(1);
    @include display-flex();
    @include align-items(stretch);
    @include flex-flow(column);
    @include component-border();

    .pb-editor {
        position: relative;

        @include flex(1);
        @include display-flex();
        @include align-items(center);
        @include justify-content(space-around);

        &.portrait {
            @include flex-flow(column);
        }
    }

    .tool-ct {
        width: 162px;
        font-size: 0;

        .button {
            $size: 50px;
            width: $size;
            height: $size;
            position: relative;
            margin: 2px;

            span {
                font-weight: normal;
                line-height: $size;
                font-size: 20px;
                display: block;
                width: $size;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    #editor-canvas {
        cursor: crosshair;
    }

    #editor-info-x, #editor-info-y {
        position: absolute;
        bottom: 0;
        span {
            font-weight: bold;
        }
    }

    #editor-info-x {
        right: 40px;
    }

    #editor-info-y {
        right: 0;
    }

    #editor-ghost {
        position: absolute;
        top: -1000px;
        left: -1000px;
        outline: 2px solid $color_pixel_grid_hover;
        z-index: 1;
        pointer-events: none;
    }
}
