html, body, #viewport, .pb-editor, .pixel-row-ct {
    height: 100%;
}

body {
    background: $color_bg_main;
    color: $color_fg_main;
}

#viewport {
    @include display-box;
    @include box-orient-horizontal;
    @include box-align(stretch);
}

#viewport > div {
    //outline: 1px solid grey;
    margin: 3px;
}

#preview-area {
    min-width: 64px;
    min-height: 64px;
}

#editor-pane {
    @include box-flex(1);
}


.pixel-ct {
    position: relative;
    cursor: crosshair;
    //background: url('../images/editor-background.png');

    .pixel {
        position: absolute;
        outline: 1px solid $color_pixel_grid_normal;

        &:hover {
            z-index: 1;
            outline: 2px solid $color_pixel_grid_hover;
        }

        &.white {
            background-color: white;
        }

        &.gray {
            background-color: lightgray;
        }
    }
}
