html, body, #viewport, .pb-editor, .pixel-row-ct {
    height: 100%;
}

body {
    // background: transparent url('../images/background.png');
    background: $color_bg_main;
    color: $color_fg_main;
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;

    @include unselectable;
}

*[disabled] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

button, .button {
    position: relative;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    padding: 0 15px;
    font-weight: bold;
    min-width: 50px;
    height: 50px;
    border: 1px solid $color_bg_botton_hover;
    color: $color_fg_main;
    background: $color_bg_botton_normal;
    cursor: pointer;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    @include border-box-sizing();

    &:hover {
        background: $color_bg_botton_hover;
        box-shadow: inset 0 0 10px white;
        border-color: white;
    }

    &:active {
        background: $color_bg_botton_active;
    }

    &[disabled] {
        &:hover, &:active {
            background: $color_bg_botton_normal;
            text-shadow: none;
        }
    }

    .icon {
        position: absolute;
        top: 7px;
        left: 8px;
        width: 32px;
        height: 32px;
    }
}

button, .button, .item {
    .icon {
        opacity: 0.7;
    }

    &:active, &:hover {
        .icon {
            opacity: 1;
        }
    }
}

img, canvas {
    background: transparent url('../images/editor-background.png');
}

fieldset {
    border: 1px solid $color_bg_lighter;
    padding: 10px;

    & + fieldset {
        margin-top: 10px;
    }
}

legend {
    padding: 0 10px;
}

label {
    display: inline-block;
    min-width: 75px;
    text-align: right;
}

input {
    border: none;
    background-color: $color_fg_main;
    color: $color_bg_main;
    padding: 5px;
    line-height: 20px;
    vertical-align: middle;
    text-align: right;
}

#fps {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#viewport {
    @include display-flex;
    @include flex-flow(row);
}

// #viewport > div {
//     margin: 10px;
// }

.toolbar {
    @include display-flex;
    @include flex-flow(column);

    & > div {
        margin-bottom: 10px;
        // @include component-border();
    }

    & > div:last-child {
        margin-bottom: 0;
    }

    &.tools {
        padding: 10px;
        width: 136px;
    }

    #preview-area {
        min-width: 128px;
        min-height: 128px;
    }
}

.spinner {
    $border-color: $color_fg_main;

    font-size: 0;
    padding: 2px;

    @include display-flex;
    @include align-items(center);

    label, input, button {
        font-size: 14px;
        border: 0;
        margin: 0;
    }

    input {
        text-align: right;
        width: 50px;
        height: 50px;
        font-size: 18px;
        box-sizing: border-box;
    }

    label {
        padding-right: 5px;
    }

    input, button {
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
    }

    button {
        color: rgba(255, 255, 255, 0.4);
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;

        &:hover, &:active {
            color: $color_fg_main;
        }
    }

    button + button {
        border-left: 0;
    }

    label + button {
        border-left: 2px solid $border-color;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    button:last-child {
        border-right: 2px solid $border-color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
