html, body, #viewport, .pb-editor, .pixel-row-ct {
    height: 100%;
}

body {
    background: $color_bg_main;
    color: $color_fg_main;
    @include unselectable;
}

img, canvas {
    background: transparent url('../images/editor-background.png');
}

#viewport {
    @include display-flex;
    @include flex-flow(row);
}

#viewport > div {
    //outline: 1px solid grey;
    margin: 3px;
}

#sidebar {
    width: 210px;

    & > div {
        margin-bottom: 6px;
    }

    #preview-area {
        min-width: 128px;
        min-height: 128px;
        outline: 1px solid black;
        content: 'Preview coming soon...'
    }

    #palette {
        font-size: 0px;

        input.hidden-radio {
            display: none;
        }

        div.visible-radio {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 2px;
            background-image: url('../images/editor-background.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;


            label {
                display: block;
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
                outline: 2px solid $color_pixel_grid_hover;
            }
        }

        input.hidden-radio:checked + div.visible-radio {
            cursor: default;
            outline: 2px solid $color_pixel_grid_selected;
        }
    }
}

#editor-pane {
    @include flex(1);
}

.pb-spritelist {
    & > * {
        margin-bottom: 10px;
    }

    .pb-sprites {
        background: $color_bg_light;
        overflow-x: hidden;
        overflow-y: scroll;

        .sprite-item {
            width: 60px;
            height: 60px;
            cursor: pointer;
            position: relative;
            float: left;

            @include display-flex();
            @include align-items(center);

            .index {
                background: $color_fg_main;
                color: $color_bg_main;
                position: absolute;
                top: 0;
                right: 0;
                width: 12px;
                height: 12px;
                font-size: 8px;
                vertical-align: middle;
                line-height: 12px;
                text-align: center;
                border-radius: 12px;
                border: 1px solid;
                pointer-events: none;
            }

            canvas {
                max-width: 55px;
                max-height: 55px;
                margin: 0 auto;
                pointer-events: none;
            }

            &:hover {
                background-color: $color_pixel_grid_hover;
            }

            &.selected {
                cursor: default;
                background-color: $color_pixel_grid_selected;
            }
        }
    }

    .buttons  {
        background: $color_bg_light;
        text-align: center;
        padding: 10px;

        button, .button {
            font-size: 30px;
        }
    }
}

.pixel-ct {
    position: relative;
    cursor: crosshair;

    .pixel-bg {
        position: absolute;
        outline: 1px solid $color_pixel_grid_normal;
        background-image: url('../images/editor-background.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .pixel {
            width: 100%;
            height: 100%;
        }

        &:hover {
            z-index: 1;
            outline: 2px solid $color_pixel_grid_hover;
        }
    }
}

#window-ct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.window-mask {
    height: 100%;
    background: $color_bg_window_mask;
    @include display-flex();
    @include align-items(center);
}

.window-content {
    width: 100%;
    background: $color_bg_window;
    overflow: visible;
    position: relative;
    @include flex(1);

    .head, .body {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }

    .head {
        line-height: 30px;
        font-weight: bold;
        font-size: 20px;
    }

    .body {
        position: relative;

        form {
            position: relative;
        }

        fieldset {
            display: inline-block;
            padding: 5px 0;
        }

        input {
            border: none;
            background-color: #B0B0B0;
            padding: 5px;
            text-align: right;
        }

        .buttons {
            text-align: right;
        }
    }

    .button.window-x {
        position: absolute;
        top: -50px;
        right: 10%;
        border-radius: 20px;

        span {
            position: absolute;
            font-size: 25px;
            top: 0px;
            left: 8px;
        }
    }
}

.import-form {
    .selected-image-ct {
        @include display-flex();
        @include flex-flow(column);
        @include align-items(center);

        img {
            max-width: 400px;
        }

        span {
            padding: 3px;
        }
    }
}

.export-form {
    .result {
        @include display-flex();
        @include flex-flow(column);
        @include align-items(center);

        img {
            max-width: 80%;
            max-height: 80%;
            border: 1px solid;
            margin: 5px;
        }

        span {
            padding: 3px;
        }
    }
}

.change-color-dlg {
    .preview {
        width: 400px;
        height: 200px;
        font-size: 0px; // to get rid of the space between the items;
        margin: 0 auto;

        .color-field-bg {
            display: inline-block;
            width: 200px;
            height: 200px;
            background-image: url('../images/editor-background.png');
        }

        .color-field {
            height: 100%;
            line-height: 200px;
            font-size: 20px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;

            span {
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 5px;
            }
        }
    }

    .colors {
        width: 400px;
        margin: 10px auto;

        span {
            display: inline-block;
            width: 20px;
            text-align: right;
            padding: 3px;
        }

        input.color {
            display: inline-block;
            width: 60px;
            text-align: right;
        }
    }
}
