@mixin display-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

/**
 * flex-direction: row | row-reverse | column | column-reverse
 * flex-wrap: nowrap | wrap | wrap-reverse
 * flex-flow: <‘flex-direction’> || <‘flex-wrap’>
 */
@mixin flex-flow($direction: row, $wrap: nowrap) {
    -webkit-flex-flow: $direction $wrap;
    -moz-flex-flow: $direction $wrap;
    -ms-flex-flow: $direction $wrap;
    flex-flow: $direction $wrap;
}


@mixin box-flex($flex: 1) {
    -webkit-flex: $flex;
    -moz-flex: $flex;
    -ms-flex: $flex;
    box-flex: $flex;
}

@mixin box-orient-horizontal {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-flex-direction: row;
    box-orient: horizontal;
}

@mixin box-orient-vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    box-orient: vertical;
}

@mixin box-align($alignment) {
  -webkit-box-align: $alignment;
  -moz-box-align: $alignment;
  -ms-flex-align: $alignment;
  box-align: $alignment;
}


@mixin transition($prop, $duration: 1s, $timing: ease, $delay: 0) {
    -moz-transition: $prop $duration $timing $delay;
    -webkit-transition: $prop $duration $timing $delay;
    -o-transition: $prop $duration $timing $delay;
    transition: $prop $duration $timing $delay;
}
