#palette {
    position: relative;

    .item {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin: 2px;
        border: 0;

        &:hover {
            margin: 0;
            border: 2px solid lightgreen;
        }

        &.selected {
            margin: 0;
            border: 2px solid red;
        }
    }
}


// #palette {
//     @include display-flex();
//     @include flex-flow(column);
//
//     fieldset {
//         overflow: auto;
//         font-size: 0; // fix for space between display-inline-block elements
//     }
//
//     .palette-item-wrap {
//         display: inline-block;
//         background-image: url('../images/editor-background.png');
//         background-repeat: no-repeat;
//         background-size: 100% 100%;
//         width: 40px;
//         height: 40px;
//         margin: 1px;
//     }
//
//     .palette-item {
//         width: 100%;
//         height: 100%;
//
//         &:hover {
//             cursor: pointer;
//             outline: 2px solid $color_pixel_grid_hover;
//         }
//
//         &.selected {
//             cursor: default;
//             outline: 2px solid $color_pixel_grid_selected;
//         }
//     }
// }
