#sprite-list {
    @include flex(1);
    @include display-flex;
    @include flex-flow(column);

    .pb-sprites {
        background: $color_bg_light;
        overflow-x: hidden;
        overflow-y: scroll;
        @include flex(1);

        .sprite-item {
            width: 60px;
            height: 60px;
            cursor: pointer;
            position: relative;
            float: left;

            @include display-flex();
            @include align-items(center);

            .index {
                background: $color_fg_main;
                color: $color_bg_main;
                position: absolute;
                top: 0;
                right: 0;
                width: 12px;
                height: 12px;
                font-size: 8px;
                vertical-align: middle;
                line-height: 12px;
                text-align: center;
                border-radius: 12px;
                border: 1px solid;
                pointer-events: none;
            }

            canvas {
                max-width: 55px;
                max-height: 55px;
                margin: 0 auto;
                pointer-events: none;
            }

            &:hover {
                background-color: $color_pixel_grid_hover;
            }

            &.selected {
                cursor: default;
                background-color: $color_pixel_grid_selected;
            }
        }
    }

    .buttons  {
        background: $color_bg_light;
        text-align: center;
        padding: 10px;

        button, .button {
            font-size: 30px;
            width: 80px;
        }
    }
}
