#sprite-list {
    @include flex(1);
    @include display-flex;
    @include flex-flow(column);

    .pb-sprites {
        // background: $color_bg_light;
        overflow: auto;
        position: relative;

        @include flex(1);

        .sprite-item {
            height: 100px;
            cursor: pointer;
            position: relative;
            background: $color_bg_botton_normal;
            //margin: 10px;

            @include display-flex();
            @include align-items(center);
            //@include component-border();

            .index {
                color: $color_fg_dark;
                position: absolute;
                top: 5px;
                left: 5px;
                font-size: 20px;
                pointer-events: none;
            }

            .settings {
                color: $color_fg_dark;
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 30px;
                opacity: 0.1;

                &:hover {
                    opacity: 1;
                    color: $color_fg_main;
                    cursor: pointer;
                }
            }

            canvas {
                max-width: 55px;
                max-height: 55px;
                margin: 0 auto;
                pointer-events: none;
            }

            &:hover {
                background: $color_bg_botton_hover;
            }

            &.selected {
                background: $color_bg_botton_active;
                cursor: default;

                .settings {
                    opacity: 0.6;
                }
                .settings:hover {
                    opacity: 1;
                }
            }
        }
    }

    .buttons  {
        // background: $color_bg_light;
        padding: 10px;

        button, .button {
            width: 160px;

            .icon {
                display: inline-block;
                position: relative;
            }
        }
    }
}
