.landscape  {
    .main-menu {
        * {
            width: 50%;
        }

        #btn-settings, .brand {
            width: 100%;
        }
    }

    .toolbar {
        width: 200px;
        height: 100%;
    }
}

@media screen and (-ms-view-state: fullscreen-landscape) {}
