@import 'colors';
@import 'mixins';
@import 'sprite-list';

html, body, #viewport {
    overflow: hidden;
    height: 100%;
}

body {
    background: $color_bg_main;
    color: $color_fg_main;
    overflow: hidden;
    font-family: 'Bangers', ;
    font-size: 14px;

    @include unselectable;
}

.dlg {
    .dlg-content {
        background: $color_bg_window;
    }

    background: $color_bg_window_mask;
}

*[disabled] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

button, .button {
    position: relative;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    padding: 0 15px;
    font-family: 'Bangers', ;
    font-size: 15px;
    min-width: 50px;
    height: 50px;
    border: 1px solid $color_bg_botton_hover;
    color: $color_fg_main;
    background: $color_bg_botton_normal;
    cursor: pointer;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    @include border-box-sizing();

    &:hover {
        background: $color_bg_botton_hover;
        box-shadow: inset 0 0 10px white;
        border-color: white;
    }

    &:active {
        background: $color_bg_botton_active;
    }

    &[disabled] {
        &:hover, &:active {
            background: $color_bg_botton_normal;
            text-shadow: none;
        }
    }

    .icon {
        position: absolute;
        top: 7px;
        left: 8px;
        width: 32px;
        height: 32px;
    }
}

button, .button, .item {
    .icon {
        opacity: 0.7;
    }

    &:active, &:hover {
        .icon {
            opacity: 1;
        }
    }
}

img, canvas {
    background: transparent url('../img/editor-background.png');
}

fieldset {
    border: 1px solid $color_bg_lighter;
    padding: 10px;

    & + fieldset {
        margin-top: 10px;
    }
}

legend {
    padding: 0 10px;
}

label {
    display: inline-block;
    min-width: 75px;
    text-align: right;
}

input {
    border: none;
    background-color: $color_fg_main;
    color: $color_bg_main;
    padding: 5px;
    line-height: 20px;
    vertical-align: middle;
    text-align: right;
}

.dlg-content {
    .dlg-close {
        border-radius: 25px;
        background-color: $color_bg_window;
    }

    h1 {
        font-size: 18px;
    }

    fieldset {
        text-align: left;
        label {
            margin: 5px 0;
        }

    }

    .button-bar {
        padding: 5px 0;
        text-align: right;

        button {
            margin: 5px 0 0 5px;
        }
    }
}

#editorPane {
    box-shadow: inset black 0 0 15px;
}
