@charset "UTF-8";
/**
 * display: flex | inline-flex; (Applies to: parent flex container element)
 *
 * This defines a flex container; inline or block depending on the given value.
 * Thus, it enables a flex context for all its direct children.
 * NOTE:
 * - CSS columns have no effect on a flex container
 * - float, clear and vertical-align have no effect on a flex item
 */
/**
 * flex-flow: <‘flex-direction’> || <‘flex-wrap’>
 *
 * This is a shorthand `flex-direction` and `flex-wrap` properties, which
 * together define the flex container's main and cross axes.
 * Default is "row nowrap";
 */
/**
 * flex-direction: row (default) | row-reverse | column | column-reverse
 *
 * This establishes the main-axis, thus defining the direction flex items are
 * placed in the flex container.
 *
 * - row (default): left to right in ltr; right to left in rtl
 * - row-reverse: right to left in ltr; left to right in rtl
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse but top to bottom
 */
/**
 * flex-wrap: nowrap (default) | wrap | wrap-reverse
 *
 * This defines whether the flex container is single-line or multi-line, and
 * the direction of the cross-axis, which determines the direction new lines
 * are stacked in.
 *
 * - nowrap (default): single-line / left to right in ltr; right to left in rtl
 * - wrap: multi-line / left to right in ltr; right to left in rtl
 * - wrap-reverse: multi-line / right to left in ltr; left to right in rtl
 */
/**
 * align-items: flex-start | flex-end | center | baseline | stretch
 *
 * This defines the default behaviour for how flex items are laid out along the
 * cross axis on the current line. Think of it as the justify-content version
 * for the cross-axis (perpendicular to the main-axis).
 *
 * - flex-start: cross-start margin edge of the items is placed on the cross-start line
 * - flex-end: cross-end margin edge of the items is placed on the cross-end line
 * - center: items are centered in the cross-axis
 * - baseline: items are aligned such as their baselines align
 * - stretch (default): stretch to fill the container (still respect min-width/max-width)
 */
/**
 * justify-content: flex-start | flex-end | center | space-between | space-around
 *
 * This defines the alignment along the main axis. It helps distribute extra free
 * space leftover when either all the flex items on a line are inflexible, or are
 * flexible but have reached their maximum size. It also exerts some control over
 * the alignment of items when they overflow the line.
 *
 * - flex-start (default): items are packed toward the start line
 * - flex-end: items are packed toward to end line
 * - center: items are centered along the line
 * - space-between: items are evenly distributed in the line; first item is on the start line, last item on the end line
 * - space-around: items are evenly distributed in the line with equal space around them
 */
/**
 * flex (Applies to: child element / flex item)
 *
 * This is the shorthand for flex-grow, flex-shrink and flex-basis. The second
 * and third parameters (flex-shrink, flex-basis) are optional.
 * Default is "0 1 auto"
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\000031}}
html, body, #viewport {
  overflow: hidden;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\000036}}
body {
  background: #353849;
  color: #F0F1F2;
  overflow: hidden;
  font-family: Arial;
  font-size: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000316}}
*[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000322}}
button, .button {
  position: relative;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 0 15px;
  font-weight: bold;
  min-width: 50px;
  height: 50px;
  border: 1px solid #15161d;
  color: #F0F1F2;
  background: #2a2d3a;
  cursor: pointer;
  line-height: 46px;
  text-align: center;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000341}}
button:hover, .button:hover {
  background: #15161d;
  box-shadow: inset 0 0 10px white;
  border-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000347}}
button:active, .button:active {
  background: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000352}}
button[disabled]:hover, button[disabled]:active, .button[disabled]:hover, .button[disabled]:active {
  background: #2a2d3a;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000358}}
button .icon, .button .icon {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 32px;
  height: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000368}}
button .icon, .button .icon, .item .icon {
  opacity: 0.7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000373}}
button:active .icon, button:hover .icon, .button:active .icon, .button:hover .icon, .item:active .icon, .item:hover .icon {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000379}}
img, canvas {
  background: transparent url("../img/editor-background.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000383}}
fieldset {
  border: 1px solid #555a75;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000387}}
fieldset + fieldset {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000392}}
legend {
  padding: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\0000396}}
label {
  display: inline-block;
  min-width: 75px;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003102}}
input {
  border: none;
  background-color: #F0F1F2;
  color: #353849;
  padding: 5px;
  line-height: 20px;
  vertical-align: middle;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003112}}
.spinner {
  font-size: 0;
  padding: 2px;
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003121}}
.spinner label, .spinner input, .spinner button {
  font-size: 14px;
  border: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003127}}
.spinner input {
  text-align: right;
  width: 50px;
  height: 50px;
  font-size: 18px;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003135}}
.spinner label {
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003139}}
.spinner input, .spinner button {
  border-top: 2px solid #F0F1F2;
  border-bottom: 2px solid #F0F1F2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003144}}
.spinner button {
  color: rgba(255, 255, 255, 0.4);
  border-right: 1px solid #F0F1F2;
  border-left: 1px solid #F0F1F2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003149}}
.spinner button:hover, .spinner button:active {
  color: #F0F1F2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003154}}
.spinner button + button {
  border-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003158}}
.spinner label + button {
  border-left: 2px solid #F0F1F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_main\.scss}line{font-family:\00003164}}
.spinner button:last-child {
  border-right: 2px solid #F0F1F2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\000031}}
#fps {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000312}}
#content {
  width: 100%;
  height: 100%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000317}}
#content > div {
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000322}}
#content .todo {
  padding: 10px;
  border: 1px red dashed;
  box-sizing: border-box;
  background-size: 4px 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000331}}
.main-menu > * {
  vertical-align: top;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000336}}
.main-menu .brand {
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000340}}
.main-menu .title {
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
  font-size: 23px;
  line-height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000348}}
.main-menu .file-info {
  width: 200px;
  font-size: 12px;
  font-family: monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_viewport\.scss}line{font-family:\0000356}}
.unsaved .main-menu .file-info {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\000031}}
#preview-area {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\000037}}
#preview-area .preview-wrap {
  box-shadow: inset 0 0 10px #15161d;
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000314}}
#preview-area .preview-wrap canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000320}}
#preview-area .preview-wrap .scale-info {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000327}}
#preview-area .buttons {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000333}}
#preview-area .buttons .bg-item {
  width: 50px;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000338}}
#preview-area .buttons #preview-play.play, #preview-area .buttons #preview-play.play:hover {
  box-shadow: inset 0 0 30px lightgreen;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000342}}
#preview-area .buttons #preview-play.stop, #preview-area .buttons #preview-play.stop:hover {
  box-shadow: inset 0 0 30px #8c0e0f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000346}}
#preview-area .buttons #preview-background {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000351}}
#preview-area img, #preview-area canvas {
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000357}}
.preview-wrap[data-background=light], .item[data-background=light] {
  background: #F0F2F3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000358}}
.preview-wrap[data-background=dark], .item[data-background=dark] {
  background: #404243;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000359}}
.preview-wrap[data-background=stone], .item[data-background=stone] {
  background: transparent url("../img/bg_stone.gif");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000360}}
.preview-wrap[data-background=dirt], .item[data-background=dirt] {
  background: transparent url("../img/bg_dirt.gif");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000361}}
.preview-wrap[data-background=grass], .item[data-background=grass] {
  background: transparent url("../img/bg_grass.gif");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000362}}
.preview-wrap[data-background=water], .item[data-background=water] {
  background: transparent url("../img/bg_water.gif");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000363}}
.preview-wrap[data-background=dirt-bricks], .item[data-background=dirt-bricks] {
  background: transparent url("../img/bg_dirt_bricks.gif");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000364}}
.preview-wrap[data-background=stone-bricks], .item[data-background=stone-bricks] {
  background: transparent url("../img/bg_stone_bricks.gif");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000368}}
.change-preview-background-dlg .item-wrap {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000372}}
.change-preview-background-dlg .item {
  margin: 2px;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_preview\.scss}line{font-family:\0000379}}
.change-preview-background-dlg .item:hover {
  outline: 2px solid #0AF959;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_palette\.scss}line{font-family:\000031}}
#palette {
  height: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_palette\.scss}line{font-family:\000035}}
#palette .list-wrap {
  height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: scroll;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_palette\.scss}line{font-family:\0000312}}
#selected-color, #palette-items .item {
  box-sizing: border-box;
  font-family: monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_palette\.scss}line{font-family:\0000317}}
#selected-color {
  width: 100%;
  margin: 2px 0;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_palette\.scss}line{font-family:\0000326}}
#palette-items li.item {
  vertical-align: top;
  padding: 3px;
  display: inline-block;
  width: 50%;
  height: 50px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_editor\.scss}line{font-family:\000031}}
.portrait #content > div.editor-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\000031}}
#menu-ct, #window-ct {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000310}}
.window-mask {
  height: 100%;
  background: rgba(10, 12, 13, 0.8);
  position: relative;
  opacity: 0;
  -moz-transition: opacity 0.5s ease 0;
  -webkit-transition: opacity 0.5s ease 0;
  transition: opacity 0.5s ease 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000323}}
.window-content {
  position: relative;
  background: transparent url("../img/background.png");
  overflow: visible;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 10px #101213;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000336}}
.window-content .head {
  margin: 0 10px 0 0;
  min-width: 100px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000345}}
.window-content .body {
  width: 75%;
  padding: 10px;
  margin-right: 100px;
  background: #353849;
  position: relative;
  box-shadow: 0 0 10px #101213;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000354}}
.window-content .body form {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000357}}
.window-content .body form .buttons {
  bottom: -10px;
  right: -110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000364}}
.window-content .body .buttons {
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000370}}
.window-content .body .buttons button, .window-content .body .buttons .button {
  width: 90px;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000377}}
.window-content .button.window-x {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000384}}
.window-content .button.window-x span {
  font-size: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000389}}
.window-content .button.window-x:hover {
  text-shadow: 0 0 10px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\0000394}}
.window-content .selected-image-ct {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003103}}
.window-content .selected-image-ct .caption {
  font-size: 15px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003108}}
.window-content .selected-image-ct span {
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003115}}
#import-form #file-chooser {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003119}}
#import-form .selected-image-ct {
  min-width: 200px;
  min-height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003123}}
#import-form .selected-image-ct img {
  max-width: 400px;
  max-height: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003131}}
.export-form .selected-image-ct a {
  text-decoration: none;
  color: #F0F1F2;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003136}}
.export-form .selected-image-ct a:hover {
  background-color: #353849;
  box-shadow: 0 0 10px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003145}}
.export-form .selected-image-ct a img {
  max-width: 80%;
  max-height: 80%;
  border: 1px solid;
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003152}}
.export-form .selected-image-ct a span {
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003159}}
.change-color-dlg .preview {
  width: 400px;
  height: 200px;
  font-size: 0px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003165}}
.change-color-dlg .preview .color-field-bg {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url("../img/editor-background.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003172}}
.change-color-dlg .preview .color-field {
  height: 100%;
  line-height: 200px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003180}}
.change-color-dlg .preview .color-field span {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003188}}
.change-color-dlg .colors {
  width: 400px;
  margin: 10px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003192}}
.change-color-dlg .colors span {
  display: inline-block;
  width: 20px;
  text-align: right;
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003199}}
.change-color-dlg .colors input.color {
  display: inline-block;
  width: 60px;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003207}}
.context-menu-mask {
  height: 100%;
  position: relative;
  background-color: rgba(10, 12, 13, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003212}}
.context-menu-mask .context-menu {
  position: absolute;
  background-image: url("../img/transmutation-circle.png"), url("../img/background.png");
  background-position: center center;
  background-size: 200px;
  border-radius: 100px;
  box-shadow: 0 0 10px #101213;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003221}}
.context-menu-mask .item {
  box-sizing: border-box;
  border: 2px solid #a0a0a0;
  position: absolute;
  background-color: #2a2d3a;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 10px #101213;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003239}}
.context-menu-mask .item .icon {
  width: 32px;
  height: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003244}}
.context-menu-mask .item:hover, .context-menu-mask .item.over {
  background-color: #15161d;
  box-shadow: 0 0 10px 5px #0AF959;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003248}}
.context-menu-mask .item:hover .icon, .context-menu-mask .item.over .icon {
  color: white;
  text-shadow: 0 0 10px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003254}}
.context-menu-mask .item.N, .context-menu-mask .item.S, .context-menu-mask .item.center {
  left: 50%;
  margin-left: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003259}}
.context-menu-mask .item.E, .context-menu-mask .item.W, .context-menu-mask .item.center {
  top: 50%;
  margin-top: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003264}}
.context-menu-mask .item.N {
  top: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003268}}
.context-menu-mask .item.S {
  bottom: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003272}}
.context-menu-mask .item.W {
  left: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_dialogs\.scss}line{font-family:\00003276}}
.context-menu-mask .item.E {
  right: -10px;
}

/*!
 * The MIT License (MIT)
 *
 * Copyright (c) 2013 Brian Maxwell
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
/**
 * display: flex | inline-flex; (Applies to: parent flex container element)
 *
 * This defines a flex container; inline or block depending on the given value.
 * Thus, it enables a flex context for all its direct children.
 * NOTE:
 * - CSS columns have no effect on a flex container
 * - float, clear and vertical-align have no effect on a flex item
 */
/**
 * flex-flow: <‘flex-direction’> || <‘flex-wrap’>
 *
 * This is a shorthand `flex-direction` and `flex-wrap` properties, which
 * together define the flex container's main and cross axes.
 * Default is "row nowrap";
 */
/**
 * flex-direction: row (default) | row-reverse | column | column-reverse
 *
 * This establishes the main-axis, thus defining the direction flex items are
 * placed in the flex container.
 *
 * - row (default): left to right in ltr; right to left in rtl
 * - row-reverse: right to left in ltr; left to right in rtl
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse but top to bottom
 */
/**
 * flex-wrap: nowrap (default) | wrap | wrap-reverse
 *
 * This defines whether the flex container is single-line or multi-line, and
 * the direction of the cross-axis, which determines the direction new lines
 * are stacked in.
 *
 * - nowrap (default): single-line / left to right in ltr; right to left in rtl
 * - wrap: multi-line / left to right in ltr; right to left in rtl
 * - wrap-reverse: multi-line / right to left in ltr; left to right in rtl
 */
/**
 * align-items: flex-start | flex-end | center | baseline | stretch
 *
 * This defines the default behaviour for how flex items are laid out along the
 * cross axis on the current line. Think of it as the justify-content version
 * for the cross-axis (perpendicular to the main-axis).
 *
 * - flex-start: cross-start margin edge of the items is placed on the cross-start line
 * - flex-end: cross-end margin edge of the items is placed on the cross-end line
 * - center: items are centered in the cross-axis
 * - baseline: items are aligned such as their baselines align
 * - stretch (default): stretch to fill the container (still respect min-width/max-width)
 */
/**
 * justify-content: flex-start | flex-end | center | space-between | space-around
 *
 * This defines the alignment along the main axis. It helps distribute extra free
 * space leftover when either all the flex items on a line are inflexible, or are
 * flexible but have reached their maximum size. It also exerts some control over
 * the alignment of items when they overflow the line.
 *
 * - flex-start (default): items are packed toward the start line
 * - flex-end: items are packed toward to end line
 * - center: items are centered along the line
 * - space-between: items are evenly distributed in the line; first item is on the start line, last item on the end line
 * - space-around: items are evenly distributed in the line with equal space around them
 */
/**
 * flex (Applies to: child element / flex item)
 *
 * This is the shorthand for flex-grow, flex-shrink and flex-basis. The second
 * and third parameters (flex-shrink, flex-basis) are optional.
 * Default is "0 1 auto"
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_toast\.scss}line{font-family:\0000328}}
.toast {
  position: fixed;
  list-style: none;
  padding: 0;
  top: 10px;
  right: 10px;
  z-index: 999999;
  font-size: 16px;
  line-height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_toast\.scss}line{font-family:\0000339}}
.toast li {
  background-color: rgba(53, 56, 73, 0.8);
  color: #F0F1F2;
  border: 2px solid;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 10px #101213;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_toast\.scss}line{font-family:\0000349}}
.toast li:first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_toast\.scss}line{font-family:\0000353}}
.toast li.error {
  color: #F01011;
  background-color: rgba(80, 10, 10, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_toast\.scss}line{font-family:\0000358}}
.toast li.success {
  color: #46F847;
  background-color: rgba(10, 80, 10, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_toast\.scss}line{font-family:\0000363}}
.toast li button.close {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  float: right;
  padding: 0;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  width: 20px;
  height: 20px;
  min-width: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_toast\.scss}line{font-family:\0000378}}
.toast li h1, .toast li h2, .toast li h3, .toast li h4 {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\000032}}
.item .icon, button .icon, .button .icon {
  background: transparent url("../img/icons.png") no-repeat 1000px 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\000037}}
.item.add .icon, .item .icon.add, button.add .icon, button .icon.add, .button.add .icon, .button .icon.add {
  background-position: 0px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\000038}}
.item.dispose .icon, .item .icon.dispose, button.dispose .icon, button .icon.dispose, .button.dispose .icon, .button .icon.dispose {
  background-position: -32px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\000039}}
.item.clone .icon, .item .icon.clone, button.clone .icon, button .icon.clone, .button.clone .icon, .button .icon.clone {
  background-position: -64px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000310}}
.item.moveUp .icon, .item .icon.moveUp, button.moveUp .icon, button .icon.moveUp, .button.moveUp .icon, .button .icon.moveUp {
  background-position: -96px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000311}}
.item.moveLeft .icon, .item .icon.moveLeft, button.moveLeft .icon, button .icon.moveLeft, .button.moveLeft .icon, .button .icon.moveLeft {
  background-position: -128px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000312}}
.item.moveDown .icon, .item .icon.moveDown, button.moveDown .icon, button .icon.moveDown, .button.moveDown .icon, .button .icon.moveDown {
  background-position: -160px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000313}}
.item.moveRight .icon, .item .icon.moveRight, button.moveRight .icon, button .icon.moveRight, .button.moveRight .icon, .button .icon.moveRight {
  background-position: -192px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000314}}
.item.play .icon, .item .icon.play, button.play .icon, button .icon.play, .button.play .icon, .button .icon.play {
  background-position: -224px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000315}}
.item.stop .icon, .item .icon.stop, button.stop .icon, button .icon.stop, .button.stop .icon, .button .icon.stop {
  background-position: -256px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000316}}
.item.cancel .icon, .item .icon.cancel, button.cancel .icon, button .icon.cancel, .button.cancel .icon, .button .icon.cancel {
  background-position: -288px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000317}}
.item.settings .icon, .item .icon.settings, button.settings .icon, button .icon.settings, .button.settings .icon, .button .icon.settings {
  background-position: -320px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000318}}
.item.undo .icon, .item .icon.undo, button.undo .icon, button .icon.undo, .button.undo .icon, .button .icon.undo {
  background-position: -352px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_icons\.scss}line{font-family:\0000319}}
.item.redo .icon, .item .icon.redo, button.redo .icon, button .icon.redo, .button.redo .icon, .button .icon.redo {
  background-position: -384px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\000033}}
.portrait #palette .list-wrap {
  height: calc(100% - 30px);
  overflow-x: auto;
  overflow-y: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\000039}}
.portrait #palette #palette-items {
  height: 100%;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\0000313}}
.portrait #palette #palette-items li.item {
  display: inline-block;
  height: 100%;
  width: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\0000321}}
.portrait #spriteList {
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\0000324}}
.portrait #spriteList ul {
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\0000328}}
.portrait #spriteList li.item {
  height: 100%;
  display: inline-block;
  width: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\0000333}}
.portrait #spriteList li.item .cvs-wrap {
  display: table-cell;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vagrant\/workspace\/pixel-boiler\/src\/scss\/_state-full-portrait\.scss}line{font-family:\0000337}}
.portrait #spriteList li.item .cvs-wrap canvas {
  margin: 0 auto;
}

/*# sourceMappingURL=default.css.map */
